<div class="col-md-8 mb-4">
  <a href="/recipes/<%= recipe.id %>" class="card-link text-dark text-decoration-none">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-4">
          <% if recipe.image.attached? %>
            <%= image_tag recipe.image, class: "card-img-top img-fluid p-3" %>
          <% else %>
            <img src="/assets/25480379.jpg" alt="画像の説明" class="card-img-top img-fluid p-3">
          <% end %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <div class="col">
              <h4 class="card-title"><%= recipe.dish_name %></h4>
              <% ingredients_list = recipe.ingredients.map(&:ingredient).join("、") %>
              <p class="card-text d-inline-block" style="white-space: normal; max-width: 300px;"><%= ingredients_list %></p>
              <p class="card-text"><%= recipe.servings %></p>
              <div class="col-auto">
                <% if recipe.user.image_url.attached? %>
                  <%= image_tag recipe.user.image_url, size: "30x30", class: "mr-2" %> <!-- 画像を小さくして横に余白を追加 -->
                <% else %>
                  <%= image_tag '25480379.jpg', size: "30x30", class: "mr-2" %> <!-- デフォルト画像を小さくして横に余白を追加 -->
                <% end %>
                <p class="card-text d-inline-block"><%= recipe.user.name %></p> <!-- ユーザーネームを横に表示 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>