<main>
  <p id="notice"></p>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
    <% @recipes.each do |recipe| %>
      <div class="card w-75 mx-auto mt-4 shadow-lg">
        <div class="row">
          <div class="col-6">
            <%= image_tag recipe.image, class: "card-img-top img-fluid p-3"; %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <h5 class="card-title"><%= link_to recipe.dish_name, recipe %></h5>
              <p class="card-text"><%= recipe.ingredient %></p>
              <p class="card-text"><%= recipe.servings %></p>
              <p class="card-text"><%= recipe.user.name %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
