<!DOCTYPE html>
<html>
<style>
  .recipe-item {
    display: flex;
    align-items: center;
  }

  .recipe-image, .recipe-info {
    width: 200px;
    height: auto;
    padding-bottom: 10px;
  }

  .recipe-info {
    flex: 1;
    padding-left: 10px;
  }

  .recipe-info p {
    margin: 0;
  }
</style>

<main>
  <p id="notice"></p>

  <div class="container px-5 px-sm-0">
    <div class="col-md-8 offset-md-1 mt-5">
      <h1>みんなのレシピ</h1>
      <div class="recipes">
        <% @recipes.each do |recipe| %>
          <div class="recipe-item">
            <div class="recipe-image">
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, size: "200x200" %>
              <% else %>
                <img src="/assets/25480379.jpg" alt="画像の説明", size: "200x200" >
              <% end %>
            </div>
            <div class="recipe-info">
              <p><%= link_to recipe.dish_name, "/recipes/#{recipe.id}" %></p>
              <p><%= recipe.ingredient %></p>
              <p><%= recipe.servings %></p>
              <p>
                <% if current_user == recipe.user %>
                  <%= link_to mypage_path do %>
                    <%= recipe.user.name %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(recipe.user.id) do %>
                    <%= recipe.user.name %>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
