<p id="notice"></p>

<div class="container" style="position: relative;">
  <%= image_tag @recipe.image, class: "img-fluid", size: "300x300" %>
  <h2><%= @recipe.dish_name %></h2>
  <p><%= @recipe.introduction %></p>

  <div class="row">
    <h4>材料</h4>
    <%= @recipe.servings %>
  </div>
  <div class="row">
    <%= @recipe.ingredient %>
    <%= @recipe.quantity %>
  </div>

  <h4>手順</h4>
  <%= @recipe.process %>

  <% if @recipe.user == current_user %>
    <div class="edit">
      <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-primary" %>
    </div>

    <div class="delete" style="position: absolute; bottom: 0; right: 0;">
      <%= link_to 'レシピを削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<h2>みんなの反応</h2>
コメント数：<%= @recipe.comments.count %>件
<% @recipe.comments.each do |comment| %>
  <div class="comment">
    <% if comment.user.profile_image.attached? %>
      <%= image_tag comment.user.profile_image.variant(resize: "50x50") %>
    <% else %>
      <%= image_tag "25480379.jpg", size: "50x50", alt: "デフォルト画像" %>
    <% end %>
    <strong><%= comment.user.name %></strong>: <%= comment.content %>
  </div>
  <% if comment.user == current_user %>
    <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
  <% end %>
<% end %>

<%= form_with model: [@recipe, @comment] do |f| %>
  <div class="field">
    <%= f.label :コメント %><br>
    <%= f.text_area :content %>
  </div>
  <%= f.submit 'コメントする' %>
<% end %>