<main>
  <p id="notice"></p>

  <div class="container" style="position: relative; padding-top: 20px;">
    <%= image_tag @recipe.image, class: "img-fluid", size: "300x300" %>
    <h2 style="margin-top: 20px;"><%= @recipe.dish_name %></h2>
    <p style="margin-top: 20px;"><%= @recipe.introduction %></p>

    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" style="display: flex; align-items: center;">
        <h4 style="margin-right: 10px;">材料</h4>
        <%= @recipe.servings %>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <% @recipe.ingredients.each do |ingredient| %>
          <p><strong><%= ingredient.ingredient %>：</strong><%= ingredient.quantity %></p>
        <% end %>
      </div>
    </div>


    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <h4>手順</h4>
        <% @recipe.steps.each.with_index(1) do |step, index| %>
          <p><strong>ステップ<%= index %></strong>: <%= step.process %></p>
        <% end %>
        <% if @recipe.step_image.attached? %>
          <div class="col-4">
            <%= image_tag @recipe.step_image, class: "img-fluid" %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @recipe.user == current_user %>
      <div class="edit" style="margin-top: 20px;">
        <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-primary" %>
      </div>

      <div class="delete" style="position: absolute; bottom: 0; right: 0; margin-top: 20px;">
        <%= link_to 'レシピを削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
      </div>
    <% end %>

    <% if @recipe.favorited_by?(current_user) %>
      <p>
        <%= link_to recipe_favorite_path(@recipe), method: :delete do %>
          ♥<%= @recipe.favorites.count %> お気に入り
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to recipe_favorite_path(@recipe), method: :post do %>
          ♡<%= @recipe.favorites.count %> お気に入り
        <% end %>
      </p>
    <% end %>

    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <h2>みんなの反応</h2>
        <p>コメント数：<%= @recipe.comments.count %>件</p>
        <% @recipe.comments.each do |comment| %>
          <div class="comment">
            <% if comment.user.profile_image.attached? %>
              <%= image_tag comment.user.profile_image.variant(resize: "50x50") %>
            <% else %>
              <%= image_tag "25480379.jpg", size: "50x50", alt: "デフォルト画像" %>
            <% end %>
            <strong><%= comment.user.name %></strong>: <%= comment.content %>
            <% if comment.user == current_user %>
              <%= link_to "削除", recipe_comment_path(@recipe, comment), method: :delete, data: {confirm: '本当に削除しますか？'} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= form_with model: [@recipe, @comment] do |f| %>
      <div class="field" style="margin-top: 20px;">
        <%= f.label :コメント %><br>
        <%= f.text_area :content %>
      </div>
      <%= f.submit 'コメントする' %>
    <% end %>
  </div>
</main>