<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 offset-md-1'>
      <h2><%= @group.name %></h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>グループメンバー一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @group_users.each do |user| %>
            <tr>
              <% if current_user == user %>
                <td><%= link_to user.name, mypage_path %></td>
              <% else %>
                <td><%= link_to user.name, user_path(user) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @group.owner_id == current_user.id %>
        <%= link_to 'メンバー編集', edit_group_path(@group), class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
    <nav class="navbar navbar-light bg-light sticky-top justify-content-end">
      <a href="/recipes/new" id="new-recipe-link" class="navbar-brand">
        <i class="fas fa-pen-to-square">レシピを書く</i>
      </a>
    </nav>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
      <% @recipes.each do |recipe| %>
        <%= render partial: 'recipes/recipe_card', locals: { recipe: recipe } %>
      <% end %>
    </div>
  </div>
</div>