<main class="container">
  <h1>マイページ</h1>


  <%= render 'users/user_profile', user: @user, current_user: current_user %>

  <%= link_to '編集する', edit_user_path(@user), class: 'btn btn-primary my-2' %>

  <nav class="navbar navbar-light bg-light sticky-top justify-content-end">
    <a href="/recipes/new" id="new-recipe-link" class="navbar-brand">
      <i class="fas fa-pen-to-square">レシピを書く</i>
    </a>
  </nav>


  <div class="row">
    <div class="col-md-8">
      <h2>レシピ一覧</h2>
      <% if @user_recipes.any? %>
        <div class="recipes">
          <% @user_recipes.each do |recipe| %>
            <%= render 'recipes/recipe_card', recipe: recipe %>
          <% end %>
        </div>
      <% else %>
        <p>まだ投稿したレシピはありません。</p>
        <%= link_to "レシピを書く", new_recipe_path, class: 'btn btn-primary my-2' %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h2>グループ</h2>
      <%= render partial: 'groups/index', locals: { groups: @groups } %>
      <div style="text-align: right;">
        <% @notifications.each do |notification| %>
          <div>
            <p><%= notification.content %></p>
            <%= form_for(notification) do |f| %>
              <%= f.hidden_field :read, value: true %>
              <%= f.submit "参加する", class: 'btn btn-success' %>
            <% end %>
          </div>
        <% end %>
        <%= link_to 'グループを作成する', new_group_path %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= button_to "退会する", user_path(current_user), method: :delete, data: { confirm: "本当に退会しますか？" }, class: 'btn btn-danger' %>
  </div>
</main>