<!DOCTYPE html>
<html>
  <head>
    <title>Zisuirecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/69ecb953cf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
           <span>自炊レシピ</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml auto">
            <% if user_signed_in? %>
            <li>
              <a class="nav-link text-light" href="/mypage">
                マイページ
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/recipes">
                レシピ
              </a>
            </li>
            <li>
              <a class="nav-link text-light">
                お気に入り
              </a>
            </li>
            <li>
              <a class="nav-link text-light" rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">
                ログアウト
              </a>
            </li>
            <% else %>
            <li>
              <a class="nav-link text-light" href="/">
                トップページ
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/homes/about">
                自炊レシピとは？
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_up">
                新規登録
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_in">
                ログイン
              </a>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
